<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Phishing URL Detector</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h1>🔒 Phishing URL Detector</h1>

<form method="POST">
<input type="text" name="url" placeholder="Enter URL..." required>
<button type="submit">Check</button>
</form>

{% if result %}
<div class="result">
<h2 class="{{ result }}">{{ result }}</h2>

<ul>
{% for reason in reasons %}
<li>{{ reason }}</li>
{% endfor %}
</ul>

</div>
{% endif %}

</div>
</body>
</html>
